---
---

@import "{{ site.theme }}";

.home {
  margin-top: -75px !important;
}

/**
 * Site footer
 */

 $spacing-unit:     30px !default;
 $grey-color:       #828282 !default;
 $grey-color-light: lighten($grey-color, 40%) !default;
 $base-font-size:   16px !default;
 
 @mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
  }

 .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
  }
  
  .footer-heading {
    @include relative-font-size(1.125);
    margin-bottom: $spacing-unit / 2;
  }
  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
    padding: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }

  .svg-icon {
    width: 22px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
  grid-gap: 20px;
  grid-auto-rows: 267px;

  .post-box {
    display: block;
    margin-bottom: 20px;
    @supports(display: grid) {
      display: initial;
      margin-bottom: 0;
    }
    background: white;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    border-radius: 5px;
    transition: all .5s ease;
    color: $body-text-color;
    text-decoration: none;
    overflow: hidden;
    padding: 20px;

    &:first-of-type {
      grid-column: span 3;
      @media (max-width: 600px) {
        grid-column: span 1;
      }
    }

    &:hover {
      box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
      transition: all .3s ease;
      transform: translate3D(0,-1px,0);
    }

    .tags {
      text-transform: uppercase;      
      color: #738a94;
      font-size: .7rem;
    }

    .title {
      font-weight: bold;
    }
  }
}

.os-screenshots {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 30px;
  width: 90%;
  margin: 0 auto;
  font-size: .8rem;

  img, picture {
    grid-row: 2;
  }
}

.home-link {
  position: relative;
  top: -70px;
  opacity: 0.7;
  color: #fff;
  font-size: .8rem;
}

.resume {
  width: 100%;
  height: 100vh;
  margin-bottom: -2rem;
}

.main-content table {
  th, td {
    border: 1px solid $grey-color;
  }
}