---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="posts">
      {%- for post in site.posts -%}
      <a class="post-box" href="{{ post.url | relative_url }}">
        <div class="tags">
          {%- for tag in post.tags -%}
          <span>{{ tag }} </span>
          {%- endfor -%}
        </div>
        <div class="title">
          {{ post.title | escape }}
        </div>
          
        <p>{{ post.excerpt | strip_html | truncatewords: 80 }}</p>
      </span>
      </a>
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>